<div class="page-header titulo">
  <h1>{{title}} <small>teste 123comprei</small></h1>
</div>

<div class="well">
  <form class="form-inline" (ngSubmit)="buscarProduto()" #f="ngForm">
    <div class="form-group">
      <label for="">O que procura?</label>
      <input type="text" class="form-control" name="busca" ngModel placeholder="produto">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>
</div>

<div class="container">
  
  <div *ngFor="let result of results; let i = index">
    
    <div class="col-xs-12 col-md-3">
      <div class="thumbnail">
        <img src="{{ result.thumbnail }}" alt="{{ result.title }}"><br>
        <div class="caption">
          <div>
            <a href="{{ result.permalink }}" target="_blank">{{ result.title }}</a>
          </div>

          <div *ngIf="result.reviews.hasOwnProperty('rating_average'); else elseBlock">
            <span class="star glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            {{ result.reviews.rating_average }} <span class="total-reviews">({{ result.reviews.total }})</span>
          </div>

          <ng-template #elseBlock>
            não avaliado
          </ng-template>

          <div class="currency">
            {{ result.currency_id }} {{ result.price }}
          </div>

          <div class="info">
            Vendedor: {{ result.seller.id }}<br>
            Local: {{ result.address.state_name }}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="(i + 1)%4 == 0" class="col-xs-12 col-md-12"></div>
  </div>
</div>
